{% extends 'base.html' %}

{% block main %}
{% load bootstrap %}

<div class="row">
	<div class="col-12">
		<h2>Updating Pessoa: {{ pessoa}}</h2>
	</div>
</div>


<div class="row">
	<div class="col">
			<form action="{% url 'core_pessoa_update' pessoa.id %}" method="POST">
				{% csrf_token %}

				{{ form|bootstrap }}

				<button class="text-center btn btn-secondary" type="submit">Salvar</button>
				<a class="btn btn-primary" href="{% url 'core_pessoa_delete' pessoa.id %}">Deletar</a>
	</div>
			</form>
			
 
 
	</div>
{% endblock %}