{% extends 'base.html' %}

{% block main %}

{% load bootstrap %}





<div class="row">
	<div class="col">
		<h2>Atualizando Veiculo: {{ veiculo}} </h2>
	</div>
</div>
<div class="row">
	<div class="col">
		<form action="{% url 'core_veiculo_update' veiculo.id %}" method="POST">
			{% csrf_token %}

			{{form|bootstrap}}

			<button class="btn btn-secondary" type="submit">Salvar</button>
			<a class="btn btn-primary" href="{% url 'core_veiculo_delete' veiculo.id %}">Deletar</a>


		</form>
</div>


{% endblock %}